.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

img {
  width: 80%;
  height: 80%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.imgBox {
  display: block;
  width: 175px;
  height: 175px;
}